<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972804766636-ib8k0p4mkjl7h6roabpdacjqjaa27414.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972804766636-ib8k0p4mkjl7h6roabpdacjqjaa27414</string>
	<key>API_KEY</key>
	<string>AIzaSyAyt9tL-j4OHGZfaA6rvoaJ7auzJgCGzH8</string>
	<key>GCM_SENDER_ID</key>
	<string>972804766636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerce</string>
	<key>PROJECT_ID</key>
	<string>cjf-computer-parts</string>
	<key>STORAGE_BUCKET</key>
	<string>cjf-computer-parts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972804766636:ios:64698bb2e387ea2ece5809</string>
</dict>
</plist>